'.text.html':
  'Container Div':
    'prefix': 'bscon'
    'body': """
    <div class="container">
      $1
    </div>
    """
  'Row':
    'prefix': 'bsrow'
    'body': """
    <div class="row">
      $1
    </div>
    """
  'Column eXtra Small':
    'prefix': 'bscolxs'
    'body': """
    <div class="col-xs-${1:1-12}">
      $0
    </div>
    """
  'Column Small':
    'prefix': 'bscolsm'
    'body': """
    <div class="col-sm-${1:1-12}">
      $0
    </div>
    """
  'Column Medium':
    'prefix': 'bscolmd'
    'body': """
    <div class="col-md-${1:1-12}">
      $0
    </div>
    """
  'Column Large':
    'prefix': 'bscollg'
    'body': """
    <div class="col-lg-${1:1-12}">
      $0
    </div>
    """
  'Column / Cell eXtra Small':
    'prefix': 'bscelxs'
    'body': 'col-xs-${1:1-12}'
  'Column / Cell Small':
    'prefix': 'bscelsm'
    'body': 'col-sm-${1:1-12}'
  'Column / Cell Medium':
    'prefix': 'bscelmd'
    'body': 'col-md-${1:1-12}'
  'Column / Cell Large':
    'prefix': 'bscellg'
    'body': 'col-lg-${1:1-12}'
  'Column / Cell Offset eXtra Small':
    'prefix': 'bsoffxs'
    'body': 'col-xs-offset-${1:1-12}'
  'Column / Cell Offset Small':
    'prefix': 'bsoffsm'
    'body': 'col-sm-offset-${1:1-12}'
  'Column / Cell Offset Medium':
    'prefix': 'bsoffmd'
    'body': 'col-md-offset-${1:1-12}'
  'Column / Cell Offset large':
    'prefix': 'bsofflg'
    'body': 'col-lg-offset-${1:1-12}'
  'Lead':
    'prefix': 'bslead'
    'body': '<p class="lead">$0</p>'
