'.text.html':
  'Container':
    'prefix': 'bscon'
    'body': """
    <div class="container">
      $1
    </div>
    """
  'Container Fluid':
    'prefix': 'bsconf'
    'body': """
    <div class="container-fluid">
      $1
    </div>
    """
  'Row':
    'prefix': 'bsrow'
    'body': """
    <div class="row">
      $1
    </div>
    """
  'Column eXtra Small':
    'prefix': 'bscolxs'
    'body': """
    <div class="col-xs-${1:1-12}">
      $0
    </div>
    """
  'Column Small':
    'prefix': 'bscolsm'
    'body': """
    <div class="col-sm-${1:1-12}">
      $0
    </div>
    """
  'Column Medium':
    'prefix': 'bscolmd'
    'body': """
    <div class="col-md-${1:1-12}">
      $0
    </div>
    """
  'Column Large':
    'prefix': 'bscollg'
    'body': """
    <div class="col-lg-${1:1-12}">
      $0
    </div>
    """
  'Column / Cell eXtra Small':
    'prefix': 'bscelxs'
    'body': 'col-xs-${1:1-12}'
  'Column / Cell Small':
    'prefix': 'bscelsm'
    'body': 'col-sm-${1:1-12}'
  'Column / Cell Medium':
    'prefix': 'bscelmd'
    'body': 'col-md-${1:1-12}'
  'Column / Cell Large':
    'prefix': 'bscellg'
    'body': 'col-lg-${1:1-12}'
  'Column / Cell Offset eXtra Small':
    'prefix': 'bsoffxs'
    'body': 'col-xs-offset-${1:1-12}'
  'Column / Cell Offset Small':
    'prefix': 'bsoffsm'
    'body': 'col-sm-offset-${1:1-12}'
  'Column / Cell Offset Medium':
    'prefix': 'bsoffmd'
    'body': 'col-md-offset-${1:1-12}'
  'Column / Cell Offset large':
    'prefix': 'bsofflg'
    'body': 'col-lg-offset-${1:1-12}'
  'Lead':
    'prefix': 'bslead'
    'body': '<p class="lead">$0</p>'
  'Heading 1':
    'prefix': 'bsh1'
    'body': '<h1>${1:Text}${2:<small>$3</small>}</h1>'
  'Heading 2':
    'prefix': 'bsh2'
    'body': '<h2>${1:Text}${2:<small>$3</small>}</h2>'
  'Heading 3':
    'prefix': 'bsh3'
    'body': '<h3>${1:Text}${2:<small>$3</small>}</h3>'
  'Heading 4':
    'prefix': 'bsh4'
    'body': '<h4>${1:Text}${2:<small>$3</small>}</h4>'
  'Heading 5':
    'prefix': 'bsh5'
    'body': '<h5>${1:Text}${2:<small>$3</small>}</h5>'
  'Heading 6':
    'prefix': 'bsh6'
    'body': '<h6>${1:Text}${2:<small>$3</small>}</h6>'
