'.text.html':

  'Container':
    'prefix': 'con'
    'body': """
    <div class="container">
      $1
    </div>
    """

  'Container Fluid':
    'prefix': 'conf'
    'body': """
    <div class="container-fluid">
      $1
    </div>
    """

  'Row':
    'prefix': 'row'
    'body': """
    <div class="row">
      $1
    </div>
    """

  'Column':
    'prefix': 'col-'
    'body': """
    <div class="col-${1:xs|sm|md|lg}-${2:1-12}">
      $3
    </div>
    """

  'Column Extra Small':
    'prefix': 'col-xs'
    'body': """
    <div class="col-xs-${1:1-12}">
      $0
    </div>
    """

  'Column Small':
    'prefix': 'col-sm'
    'body': """
    <div class="col-sm-${1:1-12}">
      $0
    </div>
    """

  'Column Medium':
    'prefix': 'col-md'
    'body': """
    <div class="col-md-${1:1-12}">
      $0
    </div>
    """

  'Column Large':
    'prefix': 'col-lg'
    'body': """
    <div class="col-lg-${1:1-12}">
      $0
    </div>
    """
