'.text.html, .text.css, .source.js':
  'editor':
    'completions': [

      # Snippets
      'html-'
      'html-min'
      'html-oi'
      'icon'
      'fa'
      'oi'
      'btn'
      'dropdown'
      'menuitem'
      'menuheader'
      'menudivider'
      'btn-group'
      'btn-group-vertical'
      'btn-toolbar'
      'input-group'
      'nav-tabs'
      'item'
      'nav-pills'
      'navbar'
      'breadcrumb'
      'pagination'
      'pager'
      'label-'
      'badge'
      'jumbotron'
      'page-header'
      'thumbnail'
      'alert'
      'close'
      'alert-link'
      'progress'
      'list-group'
      'list-item'
      'panel'
      'well'
      'con'
      'conf'
      'row'
      'col-'
      'col-xs'
      'col-sm'
      'col-md'
      'col-lg'
      'lead'
      'initialism'
      'blockquote-reverse'
      'list-unstyled'
      'list-inline'
      'dl-horizontal'
      'table-'
      'form-group'
      'h1-'
      'h2-'
      'h3-'
      'h4-'
      'h5-'
      'h6-'
      'accordion'
      'accordion-item'
      'carousel'
      'carousel-item'
      'navbar-dropdown'
      'nav-'

      # Classes
      'navbar'
      'table'
      'btn'
      'caret'
      'dropup'
      'label'
      'table-bordered'
      'table-condensed'
      'table-bordered'
      'table-striped'
      'table-responsive'
      'table-hover'
      'active'
      'info'
      'warning'
      'danger'
      'form-control'
      'radio'
      'checkbox'
      'radio-inline'
      'checkbox-inline'

      'img-responsive'
      'thumbnail'
      'carousel-inner'
      'item'
      'img-rounded'
      'img-thumbnail'
      'img-circle'
      'sr-only'
      'h1'
      'h2'
      'h3'
      'h4'
      'h5'
      'h6'
      'small'
      'lead'
      'text-left'
      'text-right'
      'text-center'
      'text-justify'
      'text-muted'
      'text-primary'
      'text-success'
      'text-info'
      'text-warning'
      'text-danger'
      'bg-primary'
      'bg-success'
      'bg-info'
      'bg-warning'
      'bg-danger'
      'page-header'
      'list-unstyled'
      'list-inline'
      'dl-horizontal'
      'initialism'
      'blockquote-reverse'
      'pull-right'
      'pre-scrollable'
      'container'
      'container-fluid'
      'row'

      'input-sm'
      'input-lg'
      'has-feedback'
      'form-control-feedback'
      'has-success'
      'help-block'
      'control-label'
      'input-group'
      'input-group-addon'
      'form-inline'
      'form-horizontal'

      'btn'
      'disabled'
      'btn-default'
      'btn-primary'
      'btn-success'
      'btn-info'
      'btn-warning'
      'btn-danger'
      'btn-link'

      'btn-lg'
      'btn-group-lg'
      'btn-sm'
      'btn-group-sm'
      'btn-xs'
      'btn-group-xs'
      'btn-block'

      'fade'
      'in'
      'collapse'
      'collapsing'
      'glyphicon'
      'dropdown'
      'dropdown-menu'
      'open'
      'dropdown-menu-right'
      'dropdown-menu-left'
      'dropdown-header'
      'dropdown-backdrop'
      'navbar-fixed-bottom'
      'navbar-fixed-top'
      'navbar-right'
      'btn-group'
      'btn-group-vertical'
      'btn-toolbar'
      'dropdown-toggle'
      'btn-group-justified'
      'input-group'
      'input-group-lg'
      'input-group-sm'
      'input-group-addon'
      'input-group-btn'
      'nav'
      'nav-divider'
      'nav-tabs'
      'nav-justified'
      'nav-pills'
      'nav-stacked'
      'tab-content'
      'tab-pane'
      'navbar'
      'navbar-collapse'
      'navbar-static-top'
      'navbar-brand'
      'navbar-toggle'
      'icon-bar'
      'navbar-nav'
      'navbar-form'
      'navbar-left'
      'navbar-right'
      'navbar-btn'
      'navbar-text'
      'navbar-default'
      'navbar-inverse'
      'navbar-link'

      'breadcrumb'
      'pagination'
      'pagination-sm'
      'pagination-lg'

      'pager'
      'next'
      'previous'
      'label'
      'label-default'
      'label-primary'
      'label-success'
      'label-info'
      'label-warning'

      'badge'
      'list-group-item'
      'alert-dismissible'
      'alert-success'
      'alert-info'
      'alert-warning'
      'alert-danger'
      'progress-bar'
      'progress-striped'
      'progress-bar-success'
      'progress-bar-info'
      'progress-bar-warning'
      'progress-bar-danger'

      'media'
      'media-object'
      'media-heading'
      'media-list'

      'list-group-item-success'
      'list-group-item-info'
      'list-group-item-warning'
      'list-group-item-danger'

      'panel'
      'panel-body'
      'panel-heading'
      'panel-title'
      'panel-footer'
      'panel-group'
      'panel-primary'
      'panel-success'
      'panel-info'
      'panel-warning'
      'panel-danger'

      'well'
      'well-lg'
      'well-sm'

      'clearfix'

      'col-xs-1'
      'col-sm-1'
      'col-md-1'
      'col-lg-1'
      'col-xs-2'
      'col-sm-2'
      'col-md-2'
      'col-lg-2'
      'col-xs-3'
      'col-sm-3'
      'col-md-3'
      'col-lg-3'
      'col-xs-4'
      'col-sm-4'
      'col-md-4'
      'col-lg-4'
      'col-xs-5'
      'col-sm-5'
      'col-md-5'
      'col-lg-5'
      'col-xs-6'
      'col-sm-6'
      'col-md-6'
      'col-lg-6'
      'col-xs-7'
      'col-sm-7'
      'col-md-7'
      'col-lg-7'
      'col-xs-8'
      'col-sm-8'
      'col-md-8'
      'col-lg-8'
      'col-xs-9'
      'col-sm-9'
      'col-md-9'
      'col-lg-9'
      'col-xs-10'
      'col-sm-10'
      'col-md-10'
      'col-lg-10'
      'col-xs-11'
      'col-sm-11'
      'col-md-11'
      'col-lg-11'
      'col-xs-12'
      'col-sm-12'
      'col-md-12'
      'col-lg-12'

      'col-xs-pull-0'
      'col-sm-pull-0'
      'col-md-pull-0'
      'col-lg-pull-0'
      'col-xs-pull-1'
      'col-sm-pull-1'
      'col-md-pull-1'
      'col-lg-pull-1'
      'col-xs-pull-2'
      'col-sm-pull-2'
      'col-md-pull-2'
      'col-lg-pull-2'
      'col-xs-pull-3'
      'col-sm-pull-3'
      'col-md-pull-3'
      'col-lg-pull-3'
      'col-xs-pull-4'
      'col-sm-pull-4'
      'col-md-pull-4'
      'col-lg-pull-4'
      'col-xs-pull-5'
      'col-sm-pull-5'
      'col-md-pull-5'
      'col-lg-pull-5'
      'col-xs-pull-6'
      'col-sm-pull-6'
      'col-md-pull-6'
      'col-lg-pull-6'
      'col-xs-pull-7'
      'col-sm-pull-7'
      'col-md-pull-7'
      'col-lg-pull-7'
      'col-xs-pull-8'
      'col-sm-pull-8'
      'col-md-pull-8'
      'col-lg-pull-8'
      'col-xs-pull-9'
      'col-sm-pull-9'
      'col-md-pull-9'
      'col-lg-pull-9'
      'col-xs-pull-10'
      'col-sm-pull-10'
      'col-md-pull-10'
      'col-lg-pull-10'
      'col-xs-pull-11'
      'col-sm-pull-11'
      'col-md-pull-11'
      'col-lg-pull-11'
      'col-xs-pull-12'
      'col-sm-pull-12'
      'col-md-pull-12'
      'col-lg-pull-12'

      'col-xs-push-0'
      'col-sm-push-0'
      'col-md-push-0'
      'col-lg-push-0'
      'col-xs-push-1'
      'col-sm-push-1'
      'col-md-push-1'
      'col-lg-push-1'
      'col-xs-push-2'
      'col-sm-push-2'
      'col-md-push-2'
      'col-lg-push-2'
      'col-xs-push-3'
      'col-sm-push-3'
      'col-md-push-3'
      'col-lg-push-3'
      'col-xs-push-4'
      'col-sm-push-4'
      'col-md-push-4'
      'col-lg-push-4'
      'col-xs-push-5'
      'col-sm-push-5'
      'col-md-push-5'
      'col-lg-push-5'
      'col-xs-push-6'
      'col-sm-push-6'
      'col-md-push-6'
      'col-lg-push-6'
      'col-xs-push-7'
      'col-sm-push-7'
      'col-md-push-7'
      'col-lg-push-7'
      'col-xs-push-8'
      'col-sm-push-8'
      'col-md-push-8'
      'col-lg-push-8'
      'col-xs-push-9'
      'col-sm-push-9'
      'col-md-push-9'
      'col-lg-push-9'
      'col-xs-push-10'
      'col-sm-push-10'
      'col-md-push-10'
      'col-lg-push-10'
      'col-xs-push-11'
      'col-sm-push-11'
      'col-md-push-11'
      'col-lg-push-11'
      'col-xs-push-12'
      'col-sm-push-12'
      'col-md-push-12'
      'col-lg-push-12'

      'col-xs-offset-0'
      'col-sm-offset-0'
      'col-md-offset-0'
      'col-lg-offset-0'
      'col-xs-offset-1'
      'col-sm-offset-1'
      'col-md-offset-1'
      'col-lg-offset-1'
      'col-xs-offset-2'
      'col-sm-offset-2'
      'col-md-offset-2'
      'col-lg-offset-2'
      'col-xs-offset-3'
      'col-sm-offset-3'
      'col-md-offset-3'
      'col-lg-offset-3'
      'col-xs-offset-4'
      'col-sm-offset-4'
      'col-md-offset-4'
      'col-lg-offset-4'
      'col-xs-offset-5'
      'col-sm-offset-5'
      'col-md-offset-5'
      'col-lg-offset-5'
      'col-xs-offset-6'
      'col-sm-offset-6'
      'col-md-offset-6'
      'col-lg-offset-6'
      'col-xs-offset-7'
      'col-sm-offset-7'
      'col-md-offset-7'
      'col-lg-offset-7'
      'col-xs-offset-8'
      'col-sm-offset-8'
      'col-md-offset-8'
      'col-lg-offset-8'
      'col-xs-offset-9'
      'col-sm-offset-9'
      'col-md-offset-9'
      'col-lg-offset-9'
      'col-xs-offset-10'
      'col-sm-offset-10'
      'col-md-offset-10'
      'col-lg-offset-10'
      'col-xs-offset-11'
      'col-sm-offset-11'
      'col-md-offset-11'
      'col-lg-offset-11'
      'col-xs-offset-12'
      'col-sm-offset-12'
      'col-md-offset-12'
      'col-lg-offset-12'

      'data-toggle'
      'data-toggle="tooltip"'
      'data-toggle="modal"'
      'data-toggle="tab"'
      'data-toggle="dropdown"'
      'data-toggle="popover"'
      'data-toggle="button"'

      'data-'
      'data-target'

      'show.bs.modal'
      'shown.bs.modal'
      'hide.bs.modal'
      'hidden.bs.modal'
      'loaded.bs.modal'
      'show.bs.dropdown'
      'shown.bs.dropdown'
      'hide.bs.dropdown'
      'hidden.bs.dropdown'
      'show.bs.tab'
      'shown.bs.tab'
      'activate.bs.scrollspy'
      'show.bs.tooltip'
      'shown.bs.tooltip'
      'hide.bs.tooltip'
      'hidden.bs.tooltip'
      'show.bs.popover'
      'shown.bs.popover'
      'hide.bs.popover'
      'hidden.bs.popover'
      'show.bs.collapse'
      'shown.bs.collapse'
      'hide.bs.collapse'
      'hidden.bs.collapse'
      'close.bs.alert'
      'closed.bs.alert'
      'slide.bs.carousel'
      'slid.bs.carousel'
      'affix.bs.affix'
      'affixed.bs.affix'
      'affix-top.bs.affix'
      'affixed-top.bs.affix'
      'affix-bottom.bs.affix'
      'affixed-bottom.bs.affix'

      'modal'
      'alert'
      'scroll'
      'backdrop'
      'keyboard'
      'show'
      'remote'
      'on'
      'scrollspy'
      'refresh'
      'offset'
      'animation'
      'html'
      'placement'
      'selector'
      'title'
      'trigger'
      'delay'
      'container'

      'tab'
      'show'
      'hide'
      'toggle'
      'reset'
      'destroy'

      'collapse'
      'collapsing'

      'carousel'
      'slide'

      'prev'
      'next'
    ]
