'.text.html, .text.css, .text.less':
  'editor':
    'completions': [
      'octicon-alert'
      'octicon-alignment-align'
      'octicon-alignment-aligned-to'
      'octicon-alignment-unalign'
      'octicon-arrow-down'
      'octicon-arrow-left'
      'octicon-arrow-right'
      'octicon-arrow-small-down'
      'octicon-arrow-small-left'
      'octicon-arrow-small-right'
      'octicon-arrow-small-up'
      'octicon-arrow-up'
      'octicon-beer'
      'octicon-book'
      'octicon-bookmark'
      'octicon-briefcase'
      'octicon-broadcast'
      'octicon-browser'
      'octicon-bug'
      'octicon-calendar'
      'octicon-check'
      'octicon-checklist'
      'octicon-chevron-down'
      'octicon-chevron-left'
      'octicon-chevron-right'
      'octicon-chevron-up'
      'octicon-circle-slash'
      'octicon-circuit-board'
      'octicon-clippy'
      'octicon-clock'
      'octicon-cloud-download'
      'octicon-cloud-upload'
      'octicon-code'
      'octicon-color-mode'
      'octicon-comment'
      'octicon-comment-discussion'
      'octicon-credit-card'
      'octicon-dash'
      'octicon-dashboard'
      'octicon-database'
      'octicon-device-camera'
      'octicon-device-camera-video'
      'octicon-device-desktop'
      'octicon-device-mobile'
      'octicon-diff'
      'octicon-diff-added'
      'octicon-diff-ignored'
      'octicon-diff-modified'
      'octicon-diff-removed'
      'octicon-diff-renamed'
      'octicon-ellipsis'
      'octicon-eye'
      'octicon-file-binary'
      'octicon-file-code'
      'octicon-file-directory'
      'octicon-file-media'
      'octicon-file-pdf'
      'octicon-file-submodule'
      'octicon-file-symlink-directory'
      'octicon-file-symlink-file'
      'octicon-file-text'
      'octicon-file-zip'
      'octicon-flame'
      'octicon-fold'
      'octicon-gear'
      'octicon-gift'
      'octicon-gist'
      'octicon-gist-secret'
      'octicon-git-branch'
      'octicon-git-commit'
      'octicon-git-compare'
      'octicon-git-merge'
      'octicon-git-pull-request'
      'octicon-globe'
      'octicon-graph'
      'octicon-heart'
      'octicon-history'
      'octicon-home'
      'octicon-horizontal-rule'
      'octicon-hourglass'
      'octicon-hubot'
      'octicon-inbox'
      'octicon-info'
      'octicon-issue-closed'
      'octicon-issue-opened'
      'octicon-issue-reopened'
      'octicon-jersey'
      'octicon-jump-down'
      'octicon-jump-left'
      'octicon-jump-right'
      'octicon-jump-up'
      'octicon-key'
      'octicon-keyboard'
      'octicon-law'
      'octicon-light-bulb'
      'octicon-link'
      'octicon-link-external'
      'octicon-list-ordered'
      'octicon-list-unordered'
      'octicon-location'
      'octicon-lock'
      'octicon-logo-github'
      'octicon-mail'
      'octicon-mail-read'
      'octicon-mail-reply'
      'octicon-mark-github'
      'octicon-markdown'
      'octicon-megaphone'
      'octicon-mention'
      'octicon-microscope'
      'octicon-milestone'
      'octicon-mirror'
      'octicon-mortar-board'
      'octicon-move-down'
      'octicon-move-left'
      'octicon-move-right'
      'octicon-move-up'
      'octicon-mute'
      'octicon-no-newline'
      'octicon-octoface'
      'octicon-organization'
      'octicon-package'
      'octicon-paintcan'
      'octicon-pencil'
      'octicon-person'
      'octicon-pin'
      'octicon-playback-fast-forward'
      'octicon-playback-pause'
      'octicon-playback-play'
      'octicon-playback-rewind'
      'octicon-plug'
      'octicon-plus'
      'octicon-podium'
      'octicon-primitive-dot'
      'octicon-primitive-square'
      'octicon-pulse'
      'octicon-puzzle'
      'octicon-question'
      'octicon-quote'
      'octicon-radio-tower'
      'octicon-repo'
      'octicon-repo-clone'
      'octicon-repo-force-push'
      'octicon-repo-forked'
      'octicon-repo-pull'
      'octicon-repo-push'
      'octicon-rocket'
      'octicon-rss'
      'octicon-ruby'
      'octicon-screen-full'
      'octicon-screen-normal'
      'octicon-search'
      'octicon-server'
      'octicon-settings'
      'opticon-shield'
      'octicon-sign-in'
      'octicon-sign-out'
      'octicon-split'
      'octicon-squirrel'
      'octicon-star'
      'octicon-steps'
      'octicon-stop'
      'octicon-sync'
      'octicon-tag'
      'octicon-telescope'
      'octicon-terminal'
      'octicon-three-bars'
      'octicon-tools'
      'octicon-trashcan'
      'octicon-triangle-down'
      'octicon-triangle-left'
      'octicon-triangle-right'
      'octicon-triangle-up'
      'octicon-unfold'
      'octicon-unmute'
      'octicon-versions'
      'octicon-x'
      'octicon-zap'
    ]
